html
{
	height: 100%;
}

/*************************************************************************/
body 
{
    background:url(https://hectorthemechanic.site/images/Background.jpg) ;
	background-attachment: fixed;
    background-position: center center;
  	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: center;
	
}
								/*Navigation*/
/*************************************************************************/
.navBar
{
	list-style-type: none;
  	margin-top: 0;
  	padding: 1.5rem;
	top: 0;
	left: 0;
	right: 0;
  	background-color: #333;
	position: fixed;
	z-index: 10;
	margin-right: 5rem;
	margin-left: 5rem;

}
.navBarElement
{
	display: inline;
	font-size: 2rem;
	padding-left: 2rem;
	padding-right:2rem;
}
	.navBarElement a
	{
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		
	}
.navLink:hover
{
	color:#d6afaa;
	border-bottom: #d6afaa;
	border-width: 5;
	border-bottom-style: solid;
}
								/*ContactSumbited*/
/*************************************************************************/							
#ContactSubmitedPageMainContent
{
	margin-top: 5.4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	color:white;
	font-size:1.5rem;
	height: 100%;
	text-align: center;
	margin-left: 10rem;
	margin-right: 10rem;
	height:fit-content;
	padding-bottom: 4rem;
}
							/*LargeiPads and laptops*/
/*************************************************************************/
@media only screen and (max-width: 1700px) 
{
	.navBar
	{
		margin-left:0;
		margin-right:0;
	}
	.navBarElement
	{
		padding: 0;
		display: inline;
		font-size: 2.0rem;
	}
	.navBarElement a
	{
		color: white;
		text-align: center;
		text-decoration: none;
	}
	body 
	{
		margin-left:0;
		margin-right:0;
	}
	#LandingPagePictureGridContainer
	{
		grid-template-columns:auto auto;
	}
	#ContactPageFormContent
	{
		margin-left: 10rem;
		margin-right: 10rem;
	}
	input[type="text"] {
		width: 95%;
	}
	#ContactSubmitedPageMainContent
	{
		margin-left: 8rem;
		margin-right: 8rem;
	
	}
}
									/*ipads*/
/*************************************************************************/
@media only screen and (max-width: 800px) 
{
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
}	
									/*newiPhones*/
/*************************************************************************/
@media only screen and (max-width: 600px) 
{
	.navBarElement a
	{
		font-size: 1.5rem;
	}
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	#ContactSubmitedPageMainContent
	{
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 2rem;
		height:fit-content;
	}
}	
								/*oldiPhones*/
/*************************************************************************/
@media only screen and (max-width: 400px) 
{
	.navBarElement a
	{
		font-size: 1rem;
	}
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
}