html
{
	background: black;
}

/*************************************************************************/
body 
{
    background: url('../images/Background.jpg') ;
    background-size: cover;
	background-attachment: fixed;
    background-position: center;
  	background-repeat: no-repeat;
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: center;

}
								/*Navigation*/
/*************************************************************************/
.navBar
{
	list-style-type: none;
  	margin-top: 0;
  	padding: 1.5rem;
	top: 0;
	left: 0;
	right: 0;
  	background-color: #333;
	position: fixed;
	z-index: 10;
	margin-right: 5rem;
	margin-left: 5rem;

}
.navBarElement
{
	display: inline;
	font-size: 2rem;
	padding-left: 2rem;
	padding-right:2rem;
}
	.navBarElement a
	{
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		
	}
.navLink:hover
{
	color:#d6afaa;
	border-bottom: #d6afaa;
	border-width: 5;
	border-bottom-style: solid;
}
								/*LandingPage*/
/*************************************************************************/
#LandingPageMainContent
{
	margin-top: 5.4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	text-align: center;
	color:white;
	font-size:1.5rem;
}
#LandingPageList
{
	list-style-type: none;
	display: inline-block;
	text-align: left; 
}
#LandingPagePictureGridContainer
{
	grid-template-columns:auto auto auto;
	display: grid;
	margin-left: 15rem;
	margin-right: 15rem;
	padding: 10px;
	grid-gap:1rem;
    justify-content: center;
	font-size: 2em;

}
.LandingPagePicture
{
	box-shadow: 30px 30px 30px #0e0d0d;
	max-height:30rem;
    width: 30rem;
}
#LandingPageSecondParagraph
{
	margin-top: 4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	text-align: center;
	color:white;
	font-size:1.5rem;
	text-align: left;
	padding: 1rem;
} 
									/*Review*/
/*************************************************************************/
#ReviewPageMainContent
{
	margin-top: 5.4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	text-align: center;
	color:white;
	font-size:1.5rem;
	height: 100%;
}
/*************************************************************************/
									/*Contact*/
#ContactPageMainContent
{
	margin-top: 5.4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	color:white;
	font-size:1.5rem;
	height: 100%;
	text-align: center;
}
#ContactPageFormContent
{
	background-image: linear-gradient(to right, #810d00, #6b0324);
	opacity: .95;
	text-align: left;
	color:white;
	font-size:1.5rem;
	height: 100%;
	text-align: left;
	margin-left: 15rem;
	margin-right: 15rem;
}
.ContactPageFormElement
{
	font-size: 3rem;
}
#ContactPageSumbitButtonContent
{
	text-align:center; 
}		
#ContactPageSumbitButton
{
	font-size: 3rem;
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
}
								/*ContactSumbited*/
/*************************************************************************/							
#ContactSubmitedPageMainContent
{
	margin-top: 5.4rem;
	background-image: linear-gradient(to right, #6b3a35, #643141);
	opacity: .99;
	color:white;
	font-size:1.5rem;
	height: 100%;
	text-align: center;
}
							/*LargeiPads and laptops*/
/*************************************************************************/
@media only screen and (max-width: 1700px) 
{
	.navBar
	{
		margin-left:0;
		margin-right:0;
	}
	.navBarElement
	{
		padding: 0;
		display: inline;
		font-size: 2.0rem;
	}
	.navBarElement a
	{
		color: white;
		text-align: center;
		text-decoration: none;
	}
	body 
	{
		margin-left:0;
		margin-right:0;
	}
	#LandingPagePictureGridContainer
	{
		grid-template-columns:auto auto;
	}
}
									/*ipads*/
/*************************************************************************/
@media only screen and (max-width: 800px) 
{
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	#LandingPagePictureGridContainer
	{
		margin-left: 0;
		margin-right: 0;
		grid-template-columns:auto;
	}
}	
									/*newiPhones*/
/*************************************************************************/
@media only screen and (max-width: 600px) 
{
	.navBarElement a
	{
		font-size: 1.5rem;
	}
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	#LandingPageMainParagraph
	{
		font-size: 1rem;
	}
	#LandingPagePictureGridContainer
	{
		margin-left: 0rem;
		margin-right: 0rem;
		padding-left: 0rem;
		padding-right: 0rem;
		grid-template-columns:auto;
	}
	.LandingPagePictures
	{
		max-height:30rem;
    	max-width: 20rem;
	}
}	
								/*oldiPhones*/
/*************************************************************************/
@media only screen and (max-width: 400px) 
{
	.navBarElement a
	{
		font-size: 1rem;
	}
	body
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	#LandingPageMainParagraph
	{
		font-size: 1rem;
	}
	#LandingPagePictureGridContainer
	{
		padding-left: 0rem;
		padding-right: 0rem;
		grid-template-columns:auto;
	}
	.LandingPagePictures
	{
		max-height:30rem;
    	max-width: 15rem;
	}
}